* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px; /* Increased padding slightly for better look */
  background-color: #fff;
  border-bottom: 1px solid #eee; /* subtle border for separation */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Darker, more visible shadow */
  z-index: 1000;
  position: relative; /* Ensure z-index works */
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100px;
  height: 100px;
}
.tagline {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: normal;
}
.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.logo-text h1 {
  font-size: 2rem;
  font-weight: bold;
}
.logo-text .tagline {
  font-size: 1rem;
  font-weight: normal;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.location img {
  width: 40px;
  height: 40px;
}
.location-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.location-text p {
  font-size: 1rem;
  font-weight: normal;
}
.phone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone img {
  width: 40px;
  height: 40px;
}
.phone-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.phone-text p {
  font-size: 1rem;
  font-weight: normal;
}
.phone-text h1 {
  font-size: 2rem;
  color: rgb(204, 36, 36);
  font-weight: bold;
}
.phone-text .tagline {
  font-size: 2rem;
  color: rgb(204, 36, 36);
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  list-style: none;
}
.links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  position: relative; /* Needed for absolute positioning of the pseudo-element */
  padding-bottom: 5px; /* Space for the line */
  transition: color 0.3s ease;
}

/* Red line effect */
.links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: rgb(204, 36, 36);
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.links li a:hover::after,
.links li a.active::after {
  width: 100%;
}

.links li a:hover,
.links li a.active {
  color: rgb(204, 36, 36); /* Optional: also change text color */
}
